:root {
    --black: black;
    --blk2: #303030;
    --white: white;
    --whi2: rgb(195, 195, 195);
    --red1: #E50914;
    --red2:  #B00710;
    --X:0.85;


}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}
@font-face {
    font-family: netflix;
    src: url(../font/BebasNeue-Bold.ttf);
}
#timer{
    margin: 0;
    margin-top: 30vh;
}
h1{
    margin: 0;
    font-family: netflix;
    font-size: 45px;
    background: linear-gradient(to right, var(--white) 0%, var(--whi2) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    display: flex;

}

.darker {
    display: none;
    background-color: rgba(0, 0, 0, 0.732);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}

#popup {
    background-color: #303030;
    width:400px;
    height: 200px;
    position:fixed;
    border-radius: 2px;
    top: calc(50vh - 100px);
    left: calc(50vw - 200px);
    z-index: 99;
    color: var(--white);
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.larger {
    font-size: 35px;
}

.leftbutton {
    display: block;
    width: 250px;
}

#close-button {
    width: 100px;
}

.right {
    max-width: 35% ;
    height: 100vh;
    right: 0;
    position: fixed;
    z-index: 1;
    padding: 0;
    margin: 0;
    background-color: var(--black);
    overflow: hidden;


    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;


    -webkit-animation-name: right;
    animation-name: left;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.after {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.contacts {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
        gap: 10px;
}

.contacts>li{
    flex: 1;
    list-style: none;
}

.afterlogos {
    margin: 0;
    padding: 0;
    font-size: 30px;
    background: linear-gradient(to right, var(--red1) 0%, var(--red2) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.contacts>li>a :hover,
.contacts>li>a :visited,
.contacts>li>a :focus {
    background: var(--blk2);
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.form > li,
.after > li {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.left {
    width: 100vw;
    background-color: var(--white);
    transition: 1s;
    background-image: linear-gradient(to left top, rgb(48, 48, 48,var(--X)), rgb(37, 37, 37,var(--X)), rgb(27, 27, 27,var(--X)), rgb(17, 17, 17,var(--X)), rgb(0, 0, 0,var(--X))),url(../media/stock-hackathon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    
    padding: 18px 18px 18px 18px;
    -webkit-animation-name: left;
        animation-name: left;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
}

.hackflix-png {
    width: 150px;
    height: auto;
    
}
h2 {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: var(--white);
}

h3 {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    color: var(--white);
}

h4 {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    color: var(--whi2);
}

.form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

p {
    text-align: left;
    color: var(--whi2);
        font-size: 14px;
        text-decoration: none;
        padding: 0;
        margin: 0;
}

.form>p>a {
    font-family: 'DM Sans', sans-serif;
    color: var(--whi2);
    font-size: 14px;
    text-decoration: none;
}
.form>p>a:hover {
    text-decoration:underline 1px var(--white);
}

.form-field {
    background-color: var(--black);
    height: 46px;
    border: 1px solid;
    border-radius: 2px;
    border-color: var(--whi2);
    padding: 0 16px;
    color: var(--white);
    font-family: 'DM Sans', sans-serif;
    outline: 0;
    transition: 0.2s;
    margin-top: 18px;
}

.form-field:focus {
    border-color: var(--white);
    background: var(--blk2);
}
.buttons,
button {
    padding: 12px 10px;
    border-radius: 2px;
    border: none;
    background: linear-gradient(to right, var(--red1) 0%, var(--red2) 100%);
    margin-top: 0px;
    color: var(--white);
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
    transition: 0.2s;
}
button:hover, .form-field:hover {
    background: var(--blk2);
}
#smallbutton {
    width: 40px;
    background: var(--blk2);
}
#smallbutton:hover {
background: linear-gradient(to right, var(--red1) 0%, var(--red2) 100%);
}
#blackbutton {
    background: var(--blk2);
}
#blackbutton:hover {
    background: linear-gradient(to right, var(--red1) 0%, var(--red2) 100%);
}

.animation {
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.a1 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.a2 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.a3 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.a4 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s;
}

.a5 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

.a6 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

@-webkit-keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@-webkit-keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 100vw;
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        padding: 20px 40px;
        width:100vw;
    }
}
.header{
    display: none;
    text-align: center;
}


@media (max-width:768px){
    .header {
        display: block;
    }

    .left {
        width: 100vw;
    }

    .right {
        max-width: 100vw;
        height: 100vh;
        position: fixed;

-webkit-animation-name: left;
    animation-name: left;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    }
}