:root {
    --black: black;
    --blk2: #303030;
    --white: white;
    --whi2: rgb(195, 195, 195);
    --red1: #E50914;
    --red2: #B00710;
    --netflix-color:linear-gradient(to right, var(--red1) 0%, var(--red2) 100%);
    --X: 0.85;
}

@font-face {
    font-family: netflix;
    src: url(../font/BebasNeue-Bold.ttf);
}
@font-face {
    font-family: secondary;
    src: url(../font/NetflixSans_W_Rg.woff2);
}
p,h4 {
    font-family: secondary;
}
h1,h3,h2 {
    font-family: netflix ;
}
h6{
    font-family: Roboto,'Open Sans', 'Helvetica Neue';
    margin: auto;
    padding: 0;
}

.red {
    color: var(--netflix-color)
}

.invisible {
    display: none !important;
}
.unwanted {
    margin: 0 !important;
}


.mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: none;
    background: none;
    text-decoration: none;
}
.prize {
    font-size: 30px;
}
.first-page {
    background-image: linear-gradient(to left top, rgb(48, 48, 48, var(--X)), rgb(37, 37, 37, var(--X)), rgb(27, 27, 27, var(--X)), rgb(17, 17, 17, var(--X)), rgb(0, 0, 0, var(--X))), url(../media/stock-hackathon.jpg) !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
}
.button {
    padding: 12px 10px;
    border-radius: 2px;
    border: none;
    background: var(--netflix-color);
    margin-top: 0px;
    color: var(--white);
    letter-spacing: 1px;
    font-family: 'DM Sans', sans-serif;
    transition: 0.2s;
}
.button:hover,
.form-field:hover {
    background: var(--blk2);
}

.animation {
    -webkit-animation-name: move;
    animation-name: move;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.a1 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.a2 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.a3 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.a4 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.a5 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.a6 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

@-webkit-keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@-webkit-keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 100vw;
    }
}

@keyframes left {
    0% {
        opacity: 0;
        width: 0;
    }

    100% {
        opacity: 1;
        padding: 20px 40px;
        width: 100vw;
    }
}

.movement-left {
        -webkit-animation-name: left;
        animation-name: left;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
}

.movement-right {
    -webkit-animation-name: right;
        animation-name: left;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
}

.the-past {
* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: var(--red1);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.conbox {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.conbox::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background: var(--red1);
    top: 15px;
    border-radius: 50%;
    z-index: 10;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -12px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 3px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
        .conbox {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
        .conbox::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 19px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
}

.faq {
        .accordion:after {
            content: '\002B'; // +
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
    
        .active:after {
            content: "\2212"; // -
        }
}